@model IEnumerable<WebAppFirst.Models.Orders>

@{
    ViewBag.Title = "TilausOtsikot";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            //Tämä JQuery-funktio kuuntelee html-elementtien
            //klikkauksia, joiden luokka on = showOrderClass
            $(".showOrderClass").click(function () {
                let orderId = $(this).data("orderid");

                //Luodaan kontrollerin url-viittaus
                var url = "/Orders/_TilausRivit/?OrderID=" + orderId;
                $("orderDetails_" + orderId).append(" <b>Ladataan tilauksen " + orderId + " rivejä...</b>");

                //Otetaan klikatun tilausotsikkorivin id
                //talteen JQuery-muuttujaan $detailDiv
                var $detailDiv = $("#orderDetails_" + orderId);
                console.log(url);
                console.log($detailDiv);

                //Tehdään kontrollerin kutsu
                $.get(url, function (data) {
                    //Korvataan $detailDIv-muuttujan elementin sisältö 
                    //kontrollerin palauttamalla partial view:llä
                    $detailDiv.replaceWith(data);
                });
            });
        });
    </script>
}

<h2>TilausOtsikot</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
@*Collapse tyyppinen taulukkonäkymä*@

<div class="container-fluid">
    <div class="card-header">
        <a class="card-link">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning font-weight-bold">Order</span>
                    </div>
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Customer" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipper Name" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Address" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping City" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Country" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Region" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipper" disabled />
                </div>
            </form>
        </a>
    </div>
    <div id="accordion">
         @foreach (var item in Model)
           {
             <div class="card">
                 <div class="card-header">
                     <a class="card-link showOrderClass" data-orderid="@item.OrderID" data-toggle="collapse" href="#collapse_@item.OrderID">
                         <form>
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text">@item.OrderID</span>
                                 </div>
                                 <input type="text" class="form-control px2" value="@item.Customers.CompanyName" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipName" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipAddress" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipCity" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipCountry" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipRegion" disabled />
                                 <input type="text" class="form-control px2" value="@item.Shippers.CompanyName" disabled />
                             </div>
                         </form>
                     </a>
                 </div>
                 <div id="collapse_@item.OrderID" class="collapse" data-parent="#accordion">
                     <div class="card-body">
                         <div id="orderDetails_@item.OrderID"></div>
                     </div>
                 </div>
             </div>
           }
    </div>
</div>



