@model IEnumerable<WebAppFirst.Models.Orders>

@{
    ViewBag.Title = "TilausOtsikot";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".showOrderClass").click(function () {
                let orderId = $(this).data("orderid");
                //alert("Klikkasit tilausnumeroa: " + orderId);
            });
        });
    </script>
}

<h2>TilausOtsikot</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
@*Collapse tyyppinen taulukkonäkymä*@

<div class="container-fluid">
    <div class="card-header">
        <a class="card-link">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning font-weight-bold">Order</span>
                    </div>
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Customer" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipper Name" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Address" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping City" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Country" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipping Region" disabled />
                    <input type="text" class="form-control bg-warning font-weight-bold px2" value="Shipper" disabled />
                </div>
            </form>
        </a>
    </div>
    <div id="accordion">
         @foreach (var item in Model)
           {
             <div class="card">
                 <div class="card-header">
                     <a class="card-link showOrderClass" data-orderid="@item.OrderID" data-toggle="collapse" href="#collapse_@item.OrderID">
                         <form>
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text">@item.OrderID</span>
                                 </div>
                                 <input type="text" class="form-control px2" value="@item.Customers.CompanyName" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipName" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipAddress" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipCity" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipCountry" disabled />
                                 <input type="text" class="form-control px2" value="@item.ShipRegion" disabled />
                                 <input type="text" class="form-control px2" value="@item.Shippers.CompanyName" disabled />
                             </div>
                         </form>
                     </a>
                 </div>
                 <div id="collapse_@item.OrderID" class="collapse" data-parent="#accordion">
                     <div class="card-body">
                         <div id="orderDetails_@item.OrderID"></div>
                     </div>
                 </div>
             </div>
           }
    </div>
</div>



@*<tr class="showOrderClass" data-orderid="@item.OrderID">
    <td>
        @Html.DisplayFor(model => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RequiredDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShippedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipCity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipRegion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipPostalCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShipCountry)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customers.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employees.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shippers.CompanyName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
        @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
    </td>
</tr>*@