 @model IEnumerable<WebAppFirst.Models.Shippers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Shippers")"><img src="~/Icons/file-plus-fill.svg" height="32" width="32" title="Create new" alt="New" /></a>
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
            <th>Region Description</th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Region.RegionDescription)</td>
        <td>
            <a href="@Url.Action("Edit", "Shippers", new { id=item.ShipperID })"><img src="~/Icons/pen-fill.svg" title="Edit" alt="Edit"></a> |
            <a href="@Url.Action("Details", "Shippers", new { id=item.ShipperID })"><img src="~/Icons/eye-fill.svg" title="Edit" alt="Edit"></a> |
            <a href="@Url.Action("Delete", "Shippers", new { id=item.ShipperID })"><img src="~/Icons/trash-fill.svg" title="Edit" alt="Edit"></a>
        </td>
    </tr>
}

</table>
